@model Technician
@{
    ViewBag.Title = "Delete Technician";
}

<div class=" container frm-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>@ViewData["Title"]</h2>
            </div>

        </div>
    </div>


<h3>Confirm Deletion of Technician</h3>
<h4>@Model.Name (@Model.Email)</h4>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TechnicianId" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Home" asp-action="Technicians" class="btn btn-primary">Cancel</a>
</form>

</div>