@model Product

@{
    string title = ViewBag.Action + " Product";
    ViewBag.Title = title;
}

<div class=" container frm-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>@ViewData["Title"]</h2>
            </div>

        </div>
    </div>



    <form asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Code">Code</label>
            <input asp-for="Code" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Price">Yearly Price</label>
            <input asp-for="Price" class="form-control">
        </div>

        <div class="form-group date-input">
            <label asp-for="ReleaseDate">Release Date</label>
            <input asp-for="ReleaseDate" class="form-control">
        </div>

        <input type="hidden" asp-for="ProductId" />

        <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
        <a asp-controller="Home" asp-action="Products" class="btn btn-primary">Cancel</a>
    </form>
</div>