@{
    ViewData["Title"] = "About Page";
}

<div class=" container tb-wrapper w-75">
     <div class="table-title">
            <div class="row">
                <div class="col-sm-6"><h2>@ViewData["Title"]</h2></div>
               
            </div>
    
        </div>
                 <h1>Gbc Sport</h1>
                <h4>Here at GbcSport we believe that great software is only as good as the support its given.</h4>
                <h3>To that end we believe in software support that is</h3>
                <ol>
                    <h4>Timely</h4>
                    <ul>
                        <li>What good is support if takes weeks to solve your issues? Time is money. </li>
                    </ul>
                    
                    <h4>Well documented</h4>
                    <ul>
                        <li>We pride ourselves on creating and providing useful documentation for all the products we support</li>
                    </ul>

                    
                    <h4>Customer centric</h4>
                    <ul>
                        <li> We have a no nonsense policy, if it doesnt help you we dont support it</li>
                         
                    </ul>

                    <h4>Honest</h4>
                    <ul>
                        <li> We will never take advantage of our customers and are upfront up with our costs</li>
                    </ul>

                </ol>
</div>