@model Customer
@{
    ViewData["Title"] = "Get Customer";

}
<h4>@ViewData["Title"]</h4>

<p>testing the page</p>


<form asp-action="Index" asp-controller="Registration" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        
        <select asp-for="FirstName" name="custId" required>
            <option value="">Please select a Customer</option>
            @foreach(var customer in ViewBag.Customer)
            {
                <option value="@customer.CustomerId" >@customer.FirstName @customer.LastName</option>
            }
        </select> 
        
    </div>
    
    <button type="submit" class="btn btn-primary">Select</button>
</form>
