@using GBCSporting_X_TEAM.Models.ViewModels
@model IncidentViewModel

@{
    ViewData["Title"] = "Update Incident";
    //NameValueCollection nvc = Request.Form;

}

<div class="frm-wrapper w-75">
   <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>@ViewData["Title"]</h2>
            </div>
                  </div>
    </div>
<form asp-action="Index" asp-controller="UpdateIncident" method="Post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        
        <label asp-for="TechnicianId">Technician:</label>
        <select class="custom-select" asp-for="TechnicianId" name="techId" class="form-control">
            <option value="">Select a technician</option>
            @foreach(SelectListItem c in Model.Technicians)
            {
                <option value="@c.Value">@c.Text</option>
            }
        </select>
        
        
    </div>
   
    <button type="submit" class="btn btn-primary">Select</button>
</form>
</div>