@model Technician
@{
    ViewData["Title"] = "Update Incident";
    //NameValueCollection nvc = Request.Form;

}

<div class="frm-wrapper w-75">
   <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>@ViewData["Title"]</h2>
            </div>

        </div>
    </div>
<form asp-action="Index" asp-controller="UpdateIncident" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        
        <select class="custom-select" asp-for="Name" name="techId" required>
            <option value="">Please select a Technician</option>
            @foreach(var technician in ViewBag.Technician)
            {
                <option value="@technician.TechnicianId" >@technician.Name</option>
            }
        </select> 
        
    </div>
    
    <button type="submit" class="btn btn-primary">Select</button>
</form>
</div>