@using GBCSporting_X_TEAM.Models.ViewModels
@model IncidentViewModel

@{
    ViewData["Title"] = "Update";
    //NameValueCollection nvc = Request.Form;

}
<h4>@ViewData["Title"]</h4>

<p>testing the page</p>


<form asp-action="Index" asp-controller="UpdateIncident" method="Post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        
        <label>Technician:</label>
        <select asp-for="TechnicianId" name="techId" class="form-control">
            <option value="">Select a technician</option>
            @foreach(SelectListItem c in Model.Technicians)
            {
                <option value="@c.Value">@c.Text</option>
            }
        </select>
        
        
    </div>
   
    <button type="submit" class="btn btn-primary">Select</button>
</form>
