@model Incident
@{
    ViewBag.Title = "Delete Incident";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Title  (@ViewBag.Customer.FirstName @ViewBag.Customer.LastName)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="IncidentId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Incidents" class="btn btn-primary">Cancel</a>
</form>

