html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.fn-sm{
    font-size: 0.5rem;
}

.fn-md{
    font-size: 0.8rem;
}

.fn-lg{
    font-size: 1.5rem;
}

.main-blue {
    background-color: #0065A4;

}
.navbar-brand img {
    height: 57px;
    width: 75px;
}
.navbar{
    padding:0;
    margin: 0;
}

.home-index-menu {
    display: flex;
    flex-wrap: wrap;
}
.index-menu-card{
    max-height: 125px;
    max-width: 125px;
    padding: 5px;
    margin: 5px;
}
.menu-card-text{

}