@model Customer
@{
    ViewBag.Title = "Delete Customer";
}

<h2>Confirm Deletion</h2>
<h3>@Model.FirstName @Model.LastName</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Customers" class="btn btn-primary">Cancel</a>
</form>

